<div class="container py-5">
	<div class="row justify-content-center align-items-center">
		<div class="col-lg-8 text-center">
			<h1 class="title--bordered">Agenda</h1>
		</div>
	</div>
	<div class="row justify-content-center align-items-center">
		<div class="col-lg-8 text-center">
			{{ collection from="agenda" sort="datum_evenement:asc"}}
			{{ if datum_evenement | is_future }}
			<div class="row my-4 agenda-item">
				<div class="col-lg-1 text-center">
					<span class="date p-2">
						{{ datum_evenement format="d" }}<br />
						{{ datum_evenement format="M" }}
					</span>
				</div>
				<div class="col-lg-9 text-center">
					<h3>{{ title }}</h3>
					<h5>{{ locatie_naam }}, {{ plaatsnaam_locatie }}</h5>
				</div>
				<div class="col-lg-2 text-center">
					Aanvang: <br />
					{{ datum_evenement format="G:i" }}
					{{ if tickets }}
					{{ if ticket_link | is_email }}
					<a style="padding: 6px; color: #fff; display: block; background: #826135; border-radius: 4px;" class="mt-2" href="mailto:{{ ticket_link }}" target="blank">Tickets</a>
					{{ else }}
					<a style="padding: 6px; color: #fff; display: block; background: #826135; border-radius: 4px;" class="mt-2" href="{{ ticket_link }}" target="blank">Tickets</a>
					{{ /if }}
					{{ /if }}
				</div>
			</div>
			{{ /if }}
			{{ /collection }}
		</div>
	</div>
</div>