

{{ form:create formset="bestellen" }}
<div class="container py-5">
  <div class="row">
    <div class="col-lg-8">
      <h3>Foto's bestellen</h3>

      {{ if {form:errors formset="bestellen" } }}
      <div class="alert alert-danger my-3" role="alert">
        <strong>Er is iets fout gegaan,</strong> Pas onderstaande fouten aan.
        <ul>
          {{ form:errors formset="bestellen" }}
          <li>{{ value }}</li>
          {{ /form:errors }}
        </ul>
      </div>
      {{ /if }} 
      {{ if {form:success formset="bestellen" } }}
      <div class="alert alert-success my-5" role="alert">
        <strong>Bedankt voor je bestelling!</strong> We nemen z.s.m. contact met je op.
      </div>
      <script>
        localStorage.clear();
      </script>
      {{ /if }}

      <div class="row">
        <div class="col-lg-6">
          <span class="input input--cats">
            <input
              class="input__field input__field--cats"
              name="firstname"
              type="text"
              id="input-38"
            />
            <label
              class="input__label input__label--cats"
              for="input-38"
              data-content="Voornaam"
            >
              <span class="input__label-content input__label-content--cats"
                >Voornaam</span
              >
            </label>
          </span>
        </div>
        <div class="col-lg-6">
          <span class="input input--cats">
            <input
              class="input__field input__field--cats"
              name="lastname"
              type="text"
              id="input-37"
            />
            <label
              class="input__label input__label--cats"
              for="input-37"
              data-content="Achternaam"
            >
              <span class="input__label-content input__label-content--cats"
                >Achternaam</span
              >
            </label>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <span class="input input--cats">
            <input
              class="input__field input__field--cats"
              name="email"
              type="email"
              id="input-36"
            />
            <label
              class="input__label input__label--cats"
              for="input-36"
              data-content="E-mailadres"
            >
              <span class="input__label-content input__label-content--cats"
                >E-mailadres</span
              >
            </label>
          </span>
        </div>
        <div class="col-lg-6">
          <span class="input input--cats">
            <input type="text" name="dezeniet" class="honeypot" />

            <input
              class="input__field input__field--cats"
              name="number"
              type="tel"
              id="input-35"
            />
            <label
              class="input__label input__label--cats"
              for="input-35"
              data-content="Telefoonnummer"
            >
              <span class="input__label-content input__label-content--cats"
                >Telefoonnummer</span
              >
            </label>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h3 class="mb-3">Uw bestelling<span class="order--price"></span></h3>
          <div class="row order--list"></div>
          <input type="hidden" name="bestelling" class="input--bestelling" />
          <input type="hidden" name="prijs" class="input--price" />
        </div>
      </div>
      <button type="submit" class="button button--secondary mt-4">
        Versturen
      </button>
    </div>
    <div class="col-lg-4">
      <h3 class="mb-5">Contact</h3>
      {{ contactgegevens }} {{ partial:social }}
    </div>
  </div>
</div>
{{ /form:create }}
