<footer class="footer">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-md-3">
            <span>© The Cats In The House 2018</span>
            <ul class="list-unstyled list-inline text-center">
               <li class="list-inline-item">
                  <a
                     href="https://www.instagram.com/thecats_ith/"
                     target="_blank"
                     style="color: #fff;"
                     ><i class="fab fa-instagram"></i
                  ></a>
               </li>
               <li class="list-inline-item">
                  <a
                     href="https://www.facebook.com/BandtheCatsInTheHouse/"
                     target="_blank"
                     style="color: #fff;"
                     ><i class="fab fa-facebook"></i
                  ></a>
               </li>
               <li class="list-inline-item">
                  <a
                     href="https://twitter.com/thecats_ith"
                     target="_blank"
                     style="color: #fff;"
                     ><i class="fab fa-twitter"></i
                  ></a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</footer>
<script src="https://shop.mijnetickets.nl/embed.js"></script
>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/1.10.0/simple-lightbox.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<script src='{{ theme:js src="all" }}'></script>
