<div class="jumbotron jumbotron-fluid header mb-0" style="background-image: url(https://abfuhjlden.cloudimg.io/cdno/n/webp/{{ glide:header_afbeelding width="1600" height="400" fit="crop_focal" absolute="true"}});">
	<div class="hero__overlay"></div>
	<div class="container h-100">
		<div class="row justify-content-center align-items-center h-100">
			<div class="col-lg-8 text-center">
				<h1 class="mt-5 title--bordered">{{ title }}</h1>
			</div>
		</div>
	</div>
</div>
{{ partial:divider }}