<div class="jumbotron jumbotron-fluid hero mb-0" style="background-image: url(https://abfuhjlden.cloudimg.io/cdno/n/webp/{{ current_url }}/{{ hero_image }});">
	<div class="hero__overlay"></div>
	<div class="container h-100">
		<div class="row justify-content-center align-items-center h-100">
			<div class="col-lg-8 text-center">
				<img src="https://abfuhjlden.cloudimg.io/cdno/n/webp/https://thecatsinthehouse.nl/assets/img/logo.png" class="img-fluid logo" />
				<h2 class="mt-5">Een band van 8 top muzikanten,<br /> alles 100% live gespeeld.</h2>
				<a class="button button--main button--inverted mt-4" href="/contact">Direct boeken</a>
			</div>
		</div>
	</div>
</div>