<div class="container-fluid">
	<div class="row align-items-center">
		<div class="col-lg-6 col--bg" style='background-image: url(https://abfuhjlden.cloudimg.io/cdno/n/webp/{{ current_url }}/{{ intro_image }});'>
		</div>
		<div class="col-lg-6 text-center p-5">
			<h1 class="title--bordered">{{ intro_title }}</h1>
			<p>
				{{ intro_tekst }}
			</p>
		</div>
	</div>
</div>
