<div class="container">
	<div class="row align-items-center img-gallery">
		{{ assets:afbeeldingen }}
		<div class="col-6 col-sm-6 col-md-4 col-lg-3 my-4">
			<a href="{{ url }}" title="" class="thumb">
				<img class="img-fluid" src="https://abfuhjlden.cloudimg.io/crop/255x255/webp/{{ site_url }}/{{ url }}" />
				{{ if prijs_per_foto }}
				<button class="btn btn-sm add-to-cart text-white" data-url="{{ url }}" data-price="{{ prijs_per_foto replace=':|.' }}"> <i class="fas fa-shopping-cart text-white"></i> <span class="add">Bestellen</span><span class="delete">Toegevoegd</span>
				</button>
				{{ /if }}
			</a>
		</div>
		{{ /assets:afbeeldingen}}
	</div>
	<div class="row justify-content-center align-items-center img-gallery">
		{{ video_s }}
		<div class="col-12 col-sm-5 col-md-5 col-lg-5 my-4">
			<a href="{{ video_url | embed_url }}?autoplay=true"  class="video__link" title="">
				<i class="fas fa-play-circle"></i>
				<img class="img-fluid" src="https://abfuhjlden.cloudimg.io/cdno/n/webp/https://img.youtube.com/vi/{{ video_url | embed_url | segment:2 }}/hqdefault.jpg" />
			</a>
		</div>
		{{ /video_s}}
	</div>
</div>
