<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand d-md-none" href="/"
    ><img class="img-fluid logo--header" src="/assets/img/logo_header.png"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse d-flex justify-content-center align-items-center"
    id="navbarCollapse"
  >
    <ul
      class="navbar-nav text-center d-flex justify-content-center align-items-center"
    >
      {{ nav from="/" max_depth="1" limit="2" exclude="bestellen"}}
      <li class="nav-item{{ if is_current || is_parent }} active{{ /if }} mx-2">
        <a class="nav-link" href="{{ url }}">{{ title }}</a>
      </li>
      {{ /nav }}
      <a class="navbar-brand mx-4 d-none d-md-block" href="/"
        ><img class="img-fluid logo--header" src="/assets/img/logo_header.png"
      /></a>
      {{ nav from="/" max_depth="1" offset="2" exclude="bestellen" }}
      <li
        class="nav-item {{ if is_current || is_parent }} active{{ /if }} mx-2"
      >
        <a class="nav-link" href="{{ url }}">{{ title }}</a>
      </li>
      {{ /nav }}
    </ul>
  </div>
  <a href="/tickets" class="btn text-white">
    <i class="fas fa-ticket-alt"></i> Tickets 
   
  </a>  
  <a href="/bestellen" class="btn cart__btn">
    <i class="fas fa-shopping-cart text-white"></i>
    <span class="cart__badge text-white">12</span>
  </a>
</nav>
