      <p><strong>Volg ons:</strong></p>
      <ul class="list-unstyled list-inline">
      	<li class="list-inline-item"><a href="https://www.instagram.com/thecats_ith/" target="_blank" style="color: #fff;"><i class="fab fa-2x fa-instagram"></i></a></li>
      	<li class="list-inline-item"><a href="https://www.facebook.com/BandtheCatsInTheHouse/" target="_blank" style="color: #fff;"><i class="fab fa-2x fa-facebook"></i></a></li>
      	<li class="list-inline-item"><a href="https://twitter.com/thecats_ith" target="_blank" style="color: #fff;"><i class="fab fa-2x fa-twitter"></i></a></li>
      </ul>