{{ partial:header }}
{{ partial:divider }}
<div class="container py-5">
	<div class="row justify-content-center align-items-center">
		<div class="col-lg-8 text-center">
			<h1 class="title--bordered">{{ title }}</h1>
		</div>
	</div>
	<div class="row justify-content-center align-items-center">
		<div class="col-12 my-4">
			{{ biografie }}
		</div>
	</div>

	{{ biografieen }}

	<div class="row justify-content-center align-items-center">
		<div class="col-12 col-md-3 my-4">
			{{ if profielfoto }}
			<img src="{{ glide:profielfoto width="255" height="255" fit="crop_focal"  }}" alt="..." class="img-thumbnail img-fluid d-block m-auto">
			{{ else }}
			<img src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/unknown2-512.png" alt="..." class="img-thumbnail rounded-circle img-fluid d-block m-auto">
			{{ /if }}
		</div>
		<div class="col-12 col-md-9 my-4">
			<h3> {{ naam }} </h3>
			<p>{{ bio }} </p>
		</div>
	</div>

	{{ /biografieen }}
</div>
{{ partial:divider }}
