{{ partial:header }}
{{ partial:divider }}
<div class="container py-5">
	<div class="row justify-content-center align-items-center">
		<div class="col-lg-8 text-center">
			<h1 class="title--bordered">Media</h1>
		</div>
	</div>
	<div class="row justify-content-center align-items-center">
		{{ entries from="/media" }}
		<div class="col-6 col-sm-6 col-md-4 col-lg-3 my-4">
			<a href="{{ url }}" class="album__link" title="{{ title }}">
				<img class="img-fluid" src="https://abfuhjlden.cloudimg.io/crop/255x255/webp/{{ site_url }}/{{ header_afbeelding }}" />
				<h5 class="text-center text-white">{{ title }}</h5>
			</a>
		</div>
		{{ /entries }}
	</div>
</div>
{{ partial:divider }}
