<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="3w-J8nSIfBKR3Wt1FeB6GVOGvXEB965JWrfDl97NZ7g" />
    <meta name="description" content="{{ title or site_title }}">
    <meta property="og:title" content="{{ title or site_title }}"/>
    <meta property="og:image" content="https://scontent-ams3-1.xx.fbcdn.net/v/t1.0-9/46431650_2225020924383722_700309437113434112_o.jpg?_nc_cat=108&_nc_ht=scontent-ams3-1.xx&oh=24e2f69b7636c95ff8f6bdc3ee4c2d90&oe=5C7DA543"/>
    <meta property="og:site_name" content="The Cats In The House"/>
    <meta property="og:description" content="Een band van 8 top muzikanten, alles 100% live gespeeld."/>
    <title>{{ title or site_title }} | The Cats In The House</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/1.14.0/simplelightbox.min.css">
    <link rel="stylesheet" href="{{ theme:css }}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131330722-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-131330722-1');
  </script>

</head>


<body>
    {{ partial:nav }}
    {{ template_content }}
    {{ partial:footer }}


</body>

</html>